<!--The content below is only a placeholder and can be replaced.-->

<h2>
  <i class="fas fa-igloo"></i> Welcome to {{ title }}!
</h2>

<nav>
    <a routerLink='/devices'>Devices</a>
</nav>

<!-- raw table -->  
<!-- 
<table class="table">
  <thead>
    <tr>
        <th>ID</th>
        <th>SN</th>
        <th>Group</th>
        <th>Family</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let d of devices">
        <td>{{ d.id }}</td>
        <td>{{ d.sn }}</td>
        <td>{{ d.groupname }}</td>
        <td>{{ d.family }}</td>
      </tr>
  </tbody>
</table>  
-->

<router-outlet></router-outlet>
